#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: #e36f6f;
}

#nav li{
    margin: 5px;
    padding: 10px 15px;
}

#nav li:hover{
    background-color: #6aa4e3;

}

#nav a {
    text-decoration: none;
}

/*modelo de caja*/
.padre{
    background-color: #6aa4e3;
    padding: 20 px;
} 

.hijo{
    background-color: #e36f6f;
    margin: 30px;
    border: 10 px solid blue;
    padding: 100px;
}
/*componente*/
#contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #6fdbe3;
    gap: 1rem;
}

.card{
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px black;

}
.card img{
    width: 100%;
    border-radius: 8px;

}

.card p{
    color: #fff;
    background-color: black;
}

#carritoLista{
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 5px solid rgb(94, 177, 224);
    background-color: rgb(214, 172, 22);
    ;
}


pre{
    text-align: left;
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    color: green;

}

/*Try catch*/
#bodyTry{
    display: flex;
    flex-direction: column;
    align-items: center;    

}

#mensaje{
    font-weight: bold;
    color: red;
}
